
/* selectors http://www.w3.org/TR/CSS2/selector.html */

html {
	background-image: url(/static/bg.png);
	background-repeat: repeat;
	padding: 0px;
	/* always show the scrollbar to avoid movement of the body
	 * this is because margins are configured auto for the body
	 * to be placed in the center of the view */
	overflow-y: scroll;
}

body {
	width: 950px;
	max-width: 950px;
	margin: auto;
	/* border: 1px dotted; */
	/* filter: alpha(opacity=50);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7; */
	/* opacity: 0.7;
	background-color: #fff; */
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.7);
}

/* application name */
h1 {
	padding-top: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 150%;
	color: #c00;
	text-align: center;
}

/* usually for hostname in the header */
h2 {
	font-size: 80%;
	margin: 0px;
	text-align: center;
}

h3 {
	margin: 30px;
	text-align: center;
	text-transform:capitalize;
	text-transform:uppercase;
}

#menubar {
	border-top: 1px solid #646464;
	border-bottom: 1px solid #646464;
	/* background-color: #646464; */
	background-color: #C7C7C7;
	color: #C10000;
	padding: 2px 0px;
}

#menubar>form {
	display: inline;
}

#menubar>a,
#menubar>form>input {
	color: #C10000;
	background-color: inherit;
	border: 0px;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 100.01%;
	display: block-inline;
	padding: 0px 0px 0px 15px;
	text-decoration: none;
}

#menubar>form>input:hover {
	cursor: pointer;
}

#menubar img {
	width: 20px;
	height: 20px;
	margin-top: 2px;
	margin-bottom: -2px;
}

#menubar .session {
	margin-right: 7px;
	float: right;
}

.flash {
	background-color: #8c1b1c;
	color: black;
}

.error {
	background-color: #BD0002;
	color: black;
	font-weight: bold;
	/* font-size: 125%;
	padding: 10px 25px; */
}

span.cross { 
	display:none; 
}

/* matches child */
.error>span.check { 
	display: none;
}

.error>span.cross { 
	display: inline;
}

.footer {
	font-size: 70.01%;
	margin-top: 150px;
	border-top: 2px solid #646464;
	clear: both;
}


/* machines overview list */
.machines {
	width: 900px;
	text-align: left;
	margin: 70px 20px 0px 30px;
}

/* single machines details */
.machine {
	width: 70%;
	text-align: left;
	margin-top: 70px;
	margin-left: 50px;
}


.nodegroups {
	width: 100%;
	text-align: left;
	margin-top: 70px;
}

/* matches any decendant */
table.machines input[type="image"] {
	width: 20px;
	height: 20px;
}

/* table.machines>tr.modifyfields>td>input { */
/* table.machines input[type="text"], table.machines select { */
input[type="text"], 
input[type="password"], 
table.machine textarea {
	background-color: #fefefe;
	font-size: 100.01%;
	color: #000;
	border: 1px solid  #fefefe;
	-webkit-border-radius: 3px;
	-moz-border-radius: 4px;
	outline: none;
}

input[type="text"]:hover,
input[type="password"]:hover,
table.machine textarea:hover,
select:hover,
option:hover {
	border: 1px solid #C10000;
	color: #C10000;
}
input[type="text"]:focus,
input[type="password"]:focus, 
table.machine textarea:focus,
select:focus, option:focus {
	border: 1px solid #C10000;
	color: #C10000;
}

table.machine input[type="text"],
table.machine textarea,
table.machine select {
	width: 300px;
}

table.machines select,
table.machine select,
table.machines option,
table.machine option {
	background-color: #fefefe;
	color: #000;
	font-size: 100.01%;
	border: 0px;
	/* check this: http://37signals.com/svn/posts/2609-customizing-web-forms-with-css3-and-webkit/ */
	/* and this: http://stackoverflow.com/questions/1895476/how-to-style-a-select-dropdown-with-css-only-without-javascript */
	-webkit-appearance: none;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-radius: 3px;
	-webkit-border-vertical-spacing: 0px;
	-webkit-focus-ring-color #fefefe;
	/* see: https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-appearance */
	-moz-appearance: toolbar;
	-moz-border-radius: 4px;
	-moz-use-text-color: #000;
	-moz-default-background-color: #fefefe;
	outline: none;
}


table.machines input[type="submit"],
table.machines a
{
	width: 20px;
	height: 20px;
	border: 0;
	font-size: 0;
	/* background: url("/static/configure.png"); */
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

table.machines input[type="submit"]:hover {
	cursor: pointer;
}

input.edit,
a.edit {
	display: block;
	background-position: center;
	background: url("/static/configure.png");
}

/* show table cells
table.machines td {
	border: 1px dotted #646464;
}
*/

input.remove {
	display: block;
	background-position: center;
	background: url("/static/trash.png");
}

input.save {
	display: block;
	background-position: center;
	background: url("/static/download.png");
}

input.discard,
a.discard {
	display: block;
	background-position: center;
	background: url("/static/close.png");
}



.nodes article {
	color: #646464;
	padding: 0px 5px;
	margin: 3px;
	border: 1px solid #646464;
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 4px;
}

table.login {
	text-align: left;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 50px 10px;
}

table.login input[type="password"] {
	width: 100%;
}

table.login input[type="submit"] {
	text-align: right;
	float: right;
}



.nodes a {
	color: #646464;
}

.ngticket {
	border: 1px solid #646464;
	float: left;
	padding: 0 5px;
	margin: 3px 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 4px;
}

.ngticket:hover {
	border: 1px solid #C10000;
	color: #C10000;
}

.ngname {
	clear: both;
	margin-top: 15px;
	display: block;
	float: right;
}

input.savechanges,
input.login,
input.trashcan {
	font-size: 100%;
	color: #646464;
	border: 1px solid #f4f4f4;
	display: block-inline;
	padding: 1px 3px 1px 30px;
	margin: 10px 7px;
	background-size: 20px 20px !important;
	background-position: 9px 9px;
	background-repeat: no-repeat !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 4px;
	outline: none;
}
input.savechanges {
	background: url("/static/download.png");
}
input.trashcan {
	clear: both;
	margin-top: 15px;
	display: block;
	float: right;
	background: url("/static/trash.png");
}

input.login {
	background: url("/static/key.png");
}


input.savechanges:hover,
input.login:hover,
input.trashcan:hover {
	color: #C10000;
	border: 1px solid #C10000;
	cursor: pointer;
}

input.savechanges:active,
input.login:active,
input.trashcan:active {
	border: 1px solid #ec0000;
}
/* unfortunately this has no effect */
input.savechanges:focus,
input.login:focus,
input.trashcan:focus {
	color: #C10000;
	border: 1px solid #C10000;
}
