{% extends "layout.html" %}
{% block title %}Service Unavailable{% endblock %}
{% block body %}
<h1>Service Unavailable</h1>
<p>Unable to contact the LDAP server 
{% if server %}
<strong>{{ server }}</strong>
{% endif %}
</p>
{% endblock %}
