<!DOCTYPE html>
<html>
	<!-- icons from http://www.iconfinder.com/search/?q=iconset:officeicons -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" charset="utf-8" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />

		<link rel="stylesheet" type="text/css" href="/static/styles.css" media="screen" />
		<link rel="Shortcut Icon" href="/static/favicon.ico" />


		<title>modest Cluster Administration Toolkit</title>
	</head>
	<body>
		<div class="notify">
			{% for category, message in get_flashed_messages(with_categories=true) %}
			<div class="flash {{ category }}">
				<span class="check">&#10003;</span><span class="cross">&#10007;</span>
				{{ message }}
			</div>
			{% endfor %}
			{% if form and form.errors %}
			{% for field_name, field_errors in form.errors.items() if field_errors %}
			{% for error in field_errors %}
			<div class="flash error"><span>&#10007;</span> {{ error }}</div>
			{% endfor %}
			{% endfor %}
			{% endif %}
		</div>
		<h1>mCAT Machine Maintenance</h1>
		<h2>{{ g.hostname }}</h2>


		<div id="menubar">
			<a href="{{ url_for('mcat') }}"><img src="/static/home.png"></a>
			{% if request.script_root + request.path != url_for('machine_api') or g.AddMachine %}
			<a href="{{ url_for('machine_api') }}">Machines</a>
			{% else %}
			<form action="{{ url_for('machine_api') }}" method="POST">
				<input type="submit" name="AddMachine" value="AddMachine">
			</form>
			{% endif %}
			<a href="{{ url_for('nodegroup_api') }}">NodeGroups</a>
			{% for ngname,ngnodes in netgroups %}
			<a href="{{ url_for('nodegroup_api') }}{{ ngname }}" title="Filter netgroup {{ ngname }} : {{ ngnodes|join(', ') }}">{{ ngname }}</a>
			{% endfor %}
			{% if g.ldap.bound %}
			<a class="session" title="You are currently logged in.&#10; Click here to log out." href="{{ url_for('logout') }}"><img alt="You are currently logged in" src="/static/unlocked.png"></a>
			{% else %}
			<a class="session" title="You are currently not logged in.&#10; Click here to log in." href="{{ url_for('login_api') }}"><img alt="You are currently logged out" src="/static/locked.png"></a>
			{% endif %}
		</div>


		{% block body %}{% endblock %}

		<div class="footer">
			{{ g.footer|safe }}
		</div>
	</body>
</html>
