{% extends "layout.html" %}
{% block body %}

<form action="{{ url_for('login_api') }}" method="POST">
<!-- http://www.w3.org/TR/html401/interact/forms.html -->
		
	<table class="login">
		<tr>
			<td>LDAP Admin DN</td>
			<td> {{ ldapadmin }} </td>
		</tr> <tr>
			<td>Password</td>
			<td>{{ form.password() }}</td>
		</tr>

		<tr><td></td>
			<td>
				<input type="submit" class="login" alt="Log in" 
				title="Log in" name="Log in" value="Log in" />
			</td>
		</tr>
	</table>
</form>

{% endblock %}

<!--
    vim: tw=78 fo=w2tqc ts=4 shiftwidth=4 expandtab ft=htmldjango
-->
