{% extends "layout.html" %}
{% block body %}

<!-- http://www.w3.org/TR/html401/interact/forms.html -->
<table class="machines">
	<thead>
		<tr>
			<th>CommonName</th>
			<th>IP Address</th>
			<th>MAC Address</th>
			<th>Boot Profile</th>
			<th />
			<th />
		</tr>
	</thead>
	<tbody>
		{% for dn, m in machines %}
		<tr>
			<td>
				{{ m.cn|join(', ') }}
			</td>
			<td>
				{{ m.ipHostNumber|join(', ') }}
			</td>
			<td>
				{{ m.macAddress|join(', ') }}
			</td>
			<td>
				<!-- TODO maximum width? -->
				{{ m.bootFile|join(', ') }}
			</td>
			<td>
				<a href="{{ url_for('machine_api') + dn }}"
                    alt="Edit machine {{ m.cn|join(', ') }}" class="edit"
                    title="Edit machine {{ m.cn|join(', ') }}"></a>
			</td>
			<td>
				<form action="{{ url_for('machine_api') + dn }}" method="POST">
					<!-- separate form with hidden action field ... HiddenField-->
                    <input type="submit" class="remove"
                    alt="Remove machine {{ m.cn|join(', ') }}"
                    title="Remove machine {{ m.cn|join(', ') }}" name="DELETE"
                    value="DELETE"></input>
                </form>
			</td>
		</tr>
		{% endfor %}

		{% if g.AddMachine %}
		<tr>
			<form action="{{ url_for('machine_api') }}" method="POST">
				<td>
					{{ form.cn() }}
				</td>
				<td>
					{{ form.ipHostNumber(size = 15) }}
				</td>
				<td>
					{{ form.macAddress(size = 17) }}
				</td>
				<td>
					{{ form.profile() }}
				</td>
				<td>
					<input type="submit" class="save" alt="Add Machine" 
					title="Add Machine" name="POST" value="POST" />
				</td>
				<td>
					<a href="{{ url_for('machine_api') }}"
						class="discard" alt="Discard changes"
						title="Discard changes"></a>
                </td>
			</form>
		</tr>
	</tbody>
	{% endif %}
</table>

{% endblock %}

<!--
    vim: tw=78 fo=w2tqc ts=4 shiftwidth=4 expandtab ft=htmldjango
-->
