{% extends "layout.html" %}
{% block body %}

<!-- looks like PUT is not supported -
it's only possibly via ajax (jquery for ex. http://jquery.malsup.com/form/)
	<form action="{{ url_for('machine_api') }}{{ dn }}" method="PUT">
-->
<form action="{{ url_for('machine_api') }}{{ dn }}" method="POST">
<!-- http://www.w3.org/TR/html401/interact/forms.html -->
		
	<table class="machine">
		<tr>
			<td>CommonName</td>
			<td>{{ form.cn() }}</td>
		</tr> <tr>
			<td>IP Address</td>
			<td>{{ form.ipHostNumber(size = 15) }}</td>
		</tr>
		<tr>
			<td>MAC Address</td>
			<td>{{ form.macAddress(size = 17) }}</td>
		</tr>
		<tr>
			<td title="LDAP bootFile Attribute">Boot Profile</td>
			<td>	
				{{ form.profile() }}
			</td>
		</tr>
		<tr>
			<td title="Not implemented yet">Kernel Boot Parameter</td>
			<td>{{ form.bootParameter() }}</td>
		</tr>
		<tr>
			<td>Serial Number</td>
			<td>{{ form.serialNumber() }}</td>
		</tr>
		<tr>
			<td>Location</td>
			<td>{{ form.l() }}</td>
		</tr>
		<tr>
			<td title="Person in Charge">Manager</td>
			<td>	
				{{ form.manager() }}
			</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>{{ form.description() }}</td>
		</tr>
		{% if dn.createTimestamp %}
		<tr>
			<td>Created</td>
			<td>{{ dn.createTimestamp[0]|ldate }}</td>
		</tr>
		{% endif %}
		{% if dn.modifyTimestamp %}
		<tr>
			<td>Last Modified</td>
			<td>{{ dn.modifyTimestamp[0]|ldate }}</td>
		</tr>
		{% endif %}

		<tr><td></td>
			<td>
				<input type="submit" class="savechanges" alt="Save changes" 
				title="Save changes" name="save" value="Save changes" />
			</td>
		</tr>
	</table>
</form>

{% endblock %}

<!--
    vim: tw=78 fo=w2tqc ts=4 shiftwidth=4 expandtab ft=htmldjango
-->
