{% extends "layout.html" %}
{% block body %}

<div class="nodegroups">
	<h4>Add A Nodegroup</h4>
</div>

<article>
<form action="{{ url_for('nodegroup_api') }}" method="POST">
	{% for n in form.nodes %}
	<div class="ngticket">
		{{ n() }} {{ n.label }}
	</div>
	{% endfor %}
	<div class="ngname">
		{{ form.netgroup() }}
		<input type="submit" class="savechanges" alt="Save Nodegroup"
       		title="Save Nodegroup" name="POST" value="Save Nodegroup" />
	</div>
</form>
</article>

<!--
<script type="application/javascript">
	document.body.appendChild(document.write('<a href="http://html5demos.com/drag">html5demos.com/drag</a>'));
</script>
-->


<noscript>
	Scripting disabled.
</noscript>

{% endblock %}
