{% extends "layout.html" %}
{% block body %}


<h3>{% if headline %}{{headline}}{% else %}Overview{% endif %}</h3>

<div class="nodes">

	{% block nodes %}
	{% for dn, m in machines %}
	
	<a href="{{ url_for('machine_api') }}{{dn}}">
	<article>
	<h4>{{ m.cn[0] }}</h4>
		<ul>
			{% if m.bootFile %}
			<li>profile : {{ m.bootFile|join(', ') }}</li>
			{% endif %}
			<li>created : {{ m.createTimestamp[0]|ldate }}</li>
			{% if m.createTimestamp[0] != m.modifyTimestamp[0] %}
			<li>modified : {{ m.modifyTimestamp[0]|ldate }}</li>
			{% endif %}
		</ul>
	</article>
	</a>
	
	{% endfor %}
	
	{% endblock %}
</div>

{% if nodegroup %}
<form action="{{ url_for('nodegroup_api') + nodegroup }}" method="POST">
	<input type="submit" class="trashcan"
		alt="Delete Nodegroup {{ nodegroup }}"
		title="Delete Nodegroup {{ nodegroup }}" name="DELETE"
		value="DELETE {{ nodegroup }}"></input>
</form>
{% endif %}

{% endblock %}
